div{
    border: .5px dotted;
    border-color: rgb(235, 200, 200);
    width: 20px;
    height: 20px;
    margin: 0;
    display:flex;
    justify-items: center;
    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 0 px; 
    
    
}
.divGrid:hover {
    background-color: black;
}

div.permanentHover{

background-color: black;
}


.container{
    background-color:blanchedalmond;
    width: 22em;
    height: 22em;
    
}